* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estilos del HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(148, 144, 144, 0.658);
    padding: 5px;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: black;
}
.img-nav {
    display: flex;
    align-items: center;
}
.img-nav > img {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.title-subtitle-nav {
    font-size: large;
    color: red;
}

.title-subtitle-nav > h6 {
    color: black;
}

nav > a {
    text-decoration: none;
    margin-right: 30px;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

nav > a:hover {
    color: red;
    font-weight: bolder;
}
/* -------------------------------------- */

/* Fotos del local */
.section-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: red;
}

.local-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-image > img {
    width: 400px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    border-style: solid;
}

.section-image > img:hover {
    color: red;
    border-width: 10px;
}
/* -------------------------------------- */

/* Estilos del FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 5px;
    border-top-style: solid;
    border-color: black;
    padding: 5px;
    background-color: rgba(148, 144, 144, 0.658);
}

.footer-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-title > img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.footer-info {
    color: red;
}

.footer-instagram {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-instagram > img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}
/* -------------------------------------- */